* {
        margin: 0;
        box-sizing: border-box;
}

img {
 max-width: 100%;
 display: block;
 border-style: none;
 
}

body {
    min-height: 100svh;
    background-color: rgb(158, 159, 218);
}

article {
    border:solid 1px black;
    max-width: 400px;
    margin-inline: auto;
    margin-top: 20px; 
    border-radius: 10px;
    font-style: italic;

}


h1 {
    text-align: center;
}

header{
    text-align: right;
}

nav {
    text-align: left;
    white-space: pre; /* add linebreak after each link */ 
    
}

footer {
    text-align: center;
}